<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chonlaphoom.fullcourse" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/test" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".NewFeed"
            android:label="@string/title_activity_main_activity2" >
        </activity>-->
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
" >
            <intent-filter>
                <action android:name="com.hmkcode.android.ANOTHER_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recommend"
            android:label="@string/title_activity_recommend"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <!--<activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>-->
        <activity
            android:name=".MyFullCourse"
            android:label="@string/title_activity_my_full_course"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <!--<activity
            android:name=".Subscribe"
            android:label="@string/title_activity_subscribe"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>-->
        <activity
            android:name=".MyReview"
            android:label="@string/title_activity_my_review"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".FoodReview"
            android:label="@string/title_activity_food_review"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
            >
        </activity>
        <activity
            android:name=".NewFeeds"
            android:label="@string/title_activity_new_feeds"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register"
            android:theme="@style/MyCustomDialog">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>
